= render partial: "shared/steps"
.container
  .row
    .span12
      - unless @user.has_authenticated?("facebook")
        = link_to "Connect with facebook", omniauth_authorize_path(:user, "facebook"), class: "fb", rel: "tooltip", title: "Connect with Facebook"
      - else
        .span4
          Your facebook account is now linked.
      = form_for @user, url: wizard_path, class: "form-inline" do |f|
        = f.submit "Next", class: "btn pull-right pushv2"