%br
%br
%br
= link_to "Connect with facebook", omniauth_authorize_path(:user, "facebook"), class: "fb", rel: "tooltip", title: "Connect with Facebook"
= form_for @user, url: wizard_path, class: "form-inline" do |f|
  = f.submit "Submit"
