.container.find_friends
  .row
    my Timeline

    - @travels.each do |travel|
      %h3= link_to travel.location, travel_path(travel)
      %h4
        = travel.start_date
      %h4
        = travel.end_date
