.container-fluid.steps
  .container
    .row
      .span4{class: "#{'current' if params[:id] == 'networks'}"} Add networks
      .span4{class: "#{'current' if params[:id] == 'friends'}"} Find friends
      .span4{class: "#{'current' if params[:id] == 'places'}"} Import places