.container
  .pullv4
  .row
    %h3 Friends
    - @friends.each do |friend|
      .media.clearfix.pullv4.pushh.pull-left.width300
        .img.portrait
          =image_tag(friend.image_url)
        .body.pushv2
          %h3
            = friend.first_name
