/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require jquery.tablescroll
 *= require_tree .
 */

#page{margin-bottom: 50px;}
#header {border-top:10px solid #ccc;}
#header .brand{
  width: 280px;
  height: 20px;
  line-height: 77px;
  background: url('/assets/logo.png') no-repeat center center;
}
#header .navbar{margin-bottom: 0 !important; }
#header .navbar-inner{padding-top: 10px;height:67px; padding-left: 0 !important; padding-right:0 !important;}
.landing .intro h1 {
  color: #333;
  font-size: 40px;
  line-height: 1.2em;
  text-align: left;
  text-shadow: 0 1px white;
  margin-top: 50px;
}

.btn-facebook{
  background:#5283B6;
  border-radius:1px solid #C4C3C7;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  color:#FFF;
  font-size:16px;
  text-shadow:0 -1px #597BC0;
}
#header .btn-facebook:hover,
.btn-facebook:hover{
  background:#6293C6;
  color:#FFF;
}
.btn-facebook .icon-facebook,
.ribbon .icon-facebook{
  font-size:22px;
  margin-right:10px;
  position:relative;
  top:2px;
}

.landing .intro p {
  color: #333;
  font-size: 18px;
  line-height: 1.2em;
  text-align: left;
  text-shadow: 0 1px white;
  margin-top: 10px;
}
.landing .intro .fq{
  width: 238px;
  height: 55px;
  margin-top: 10px;
  background: url('/assets/foursquare-login.png') no-repeat 0 0;
  cursor: pointer;
  display: inline-block;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;
}
.flash_notices{
  position: absolute;
  width: 50%;
  margin: 0 auto;
  left: 25%;
}

.landing #page .intro{ background: url('/assets/map.png') center center; min-height: 330px;}
.landing .social{ padding-top: 45px; text-align: center; color:#333;}
.landing .social h3{ font-size: 20px; color:#FFA659;}
.landing .social .image{text-align: center; height: 90px; line-height: 90px;}

.error body{background: #FFA759 url('/assets/map.png') no-repeat; -moz-background-size: auto 100%; -webkit-background-size: auto 100%; background-size: auto 100%;}
.error .error404{background: url('/assets/404.png') no-repeat center center;min-height: 500px;}
.error .error404 span{color:#FFF; position: absolute; left: 48%; top: 235px; font-size: 52px; font-weight: bold;}

#page .steps{
  height: 149px;
  border-top: 1px solid #E2E2D9;
  border-bottom: 1px solid #E2E2D9;
  text-align: center;
  font-size: 18px;
}
#page .step1{ background: #FFA759 url('/assets/steps1.png') no-repeat center 50px;}
#page .step2{ background: #FFA759 url('/assets/steps2.png') no-repeat center 50px;}
#page .step3{ background: #FFA759 url('/assets/steps3.png') no-repeat center 50px;}
#page .steps .span4{padding-top: 75px; opacity: 0.5; color: #000;}
#page .steps span{font-size: 14px; display: block; margin-bottom: 7px; font-weight: normal;  }
#page .steps .current{color: #000; opacity: 1;}
#page .steps .current span{color: #FFF;}


#page .find_friends table, #page .place table{
  border: 1px solid #DDD;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
#page .find_friends .data { width: 50%; margin-left: auto; margin-right: auto;}
#page .find_friends td{ line-height: 50px;}
.user-photo{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

#page .place h2{font-size: 20px; font-weight: bold; padding-left: 8px;}
#page .place h3{font-size: 18px; font-weight: bold;padding-left: 40px;}
#page .place h3.location{background: url('/assets/icons/location.png') no-repeat left center; }
#page .place h3.date{background: url('/assets/icons/date.png') no-repeat left center;}
#page .place h3.check-ins{background: url('/assets/icons/checkin.png') no-repeat 7px 5px;}
#page .place h3.photos{background: url('/assets/icons/photos.png') no-repeat left center;}
#page .place input.text{margin-left: 35px; display: block;}
#page .place table{margin-left: 17px;}
#page .place form{margin: 0 !important;}
#page .place form .span4{height: 90px;}

.clear{clear: both;}

.pushv1{margin-top: 10px;}
.pushv2{margin-top: 20px;}
.pushv3{margin-top: 30px;}
.pushv4{margin-top: 40px;}
.pushv5{margin-top: 50px;}

.pullv1{margin-bottom: 10px !important;}
.pullv2{margin-bottom: 20px !important;}
.pullv3{margin-bottom: 30px !important;}
.pullv4{margin-bottom: 40px !important;}
.pullv5{margin-bottom: 50px !important;}

.alignright{text-align: right;}
.aligncenter{text-align: center !important;}

.orange,
a.hover-orange:hover{color:#FFA759 !important;}
a.hover-black:hover{color:#000 !important;}
a.hover-white:hover{color:#FFF !important;}

.travel-pic,
.portrait{
  background:#FFF;
  border:4px solid #000;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  height:80px;
  float:left;
  margin-right:20px;
  overflow:hidden;
  padding:3px;
  width:80px;
}

.travel-pic img,
.portrait img{
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  min-height:100%;
  min-width:100%;
}

.travel-body{
  overflow:hidden;
}

.travel-date{
  background:#000;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  color:#FFA759;
  font-size:14px;
  font-weight: bold;
  line-height:1em;
  padding:4px 8px;
}

.travel-location{
  background:#9B918A;
  border:3px solid #000;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  color:#000;
  display: inline-block;
  font-size: 18px;
  line-height: 1em;
  padding:4px 8px;
}

.travel-location a{color:#000;}

.travel-info,
.travel-type{
  color:#999;
  font-size:14px;
  font-style: italic;
  margin: 0;
}

.floatcenter{
  margin:0 auto;
}

.media .img{
  float: left;
  margin-right: 20px;
}

.media .body{
  overflow: hidden;
}

.btn-orange{
  background: #FFA759 !important;
}

.travel-timeline{margin:0;}

.timeline-item{
  background:#FFF;
  background:rgba(255,255,255,0.9);
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  list-style: none;
  width:500px;
  padding:10px;
  margin:0 auto 50px;
}
.width300{width:300px;}
.width400{width:400px;}

.timeline-container{
  background: url(/assets/steps.png) repeat-y top;
  padding-top:40px;
}

.travel-info li{
  float:left;
  list-style:none;
  margin-right:10px;
}

.travel-info a{
  color:#FFA759;
}

.f30{font-size: 30px !important;}

.photo-gallery{margin:0; text-align: center;}

.photo-gallery li{
  display:inline-block;
  list-style: none;
  margin:0;
  padding:0;
  width:24%;
}

.photo-gallery li .img{
  background: #000;
  border:1px solid #CCC;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  overflow: hidden;
  margin: 0 10px 20px;
  height:88px;
  padding: 5px;
  position: relative;
}

.photo-gallery li img{
  bottom:0;
  left:0;
  margin:auto;
  max-height:100%;
  max-width: 100%;
  position: absolute;
  top:0;
  right:0;
}


.pushh{margin-right:10px;}

.valign{vertical-align:middle !Important;}

.place_picture{
  max-height: 80%;
}